* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    color: black;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Muli', sans-serif;
    /*background-color: #ef7674;*/
}

header {
    background-color: #ff0054;
    color:black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title {
    margin-left: 10px;

}

.nav_links {
    list-style: none;
    color: black;
}

.nav_links li {
    display: inline-block;
    padding: 0 10px;
}

.nav_links li a {
    transition: all 0.5s ease 0s
}

.nav_links li a:hover {
    color: white;
}

#right_links {
    margin-right: 10px;
}

#main_body {
    text-align: center;
}

.login_box {
    margin: auto;
    margin-top: 20px;
    float: center;
    width: 25%;
    text-align: left;
    border: 2px solid #ef7674;
    border-radius: 5px;
}

.login_box * {
    margin-left: 5px;
}

input[type=submit] {
    padding: 5px 10px;
    background-color: rgba(239,118,116,1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

input[type=submit]:hover {
    background-color: rgba(239,118,116,0.7);
    color: rgba(0,0,0,0.7);
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

#nav_logo {
    height: 60px;
    vertical-align: bottom;
}