* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
	border: 5px solid red;
}

span[class^="dot"]{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	display: inline-block;
}
.tooltiptext {
	visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: lightgrey;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s;
	right: 64%;
}
.tooltiptext::after {
	content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    
}

/* Show the tooltip text when you mouse over the tooltip container */
span[class^="dot"]:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.dot0{background-color: lightgrey;}
.dot1{background-color: green;}
.dot2{background-color: yellow;}
.dot3{background-color: red;}

li{list-style: none;}

a {
    color: black;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Muli', sans-serif;
}

header {
    background-color: #ff0054;
    color:black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#title {
    margin-left: 10px;

}

.nav_links {
    list-style: none;
    color: black;
}

.nav_links li {
    display: inline-block;
    padding: 0 10px;
}

.nav_links li a {
    transition: all 0.5s ease 0s
}

.nav_links li a:hover {
    color: white;
}

#right_links {
    margin-right: 10px;
}

.login_box {
    margin: auto;
    margin-top: 20px;
    float: center;
    width: 25%;
    text-align: left;
    border: 2px solid #ef7674;
    border-radius: 5px;
}

.login_box * {
    margin-left: 5px;
}

input[type=submit] {
    padding: 5px 10px;
    background-color: rgba(239,118,116,1);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

input[type=submit]:hover {
    background-color: rgba(239,118,116,0.7);
    color: rgba(0,0,0,0.7);
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

#nav_logo {
    height: 60px;
    vertical-align: bottom;
}

.home_body {
    background: linear-gradient(rgba(239,118,116,0.7),rgba(239,118,116,0.7)), url(stock2.jpg);
}

#main_body {
    position: absolute;
    height: 94%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#home_reg {
    margin-top: 50px;
    margin-right: 50px;
    border-radius: 5px;
    background-color: #F1F2EE;
    width: 400px;
    text-align: left;
    margin: 0;
    
}

#reg_header {
    background-color: #ff0054;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
}

.reg_p {
    margin: 2.5%;
    color: #8B8982;
}

.reg_text {
    margin: 2.5%;
    margin-top: 0px;
    width: 95%;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}

.reg_button {
    margin: 2.5%;
    width: 95%;
    height: 50px;
    border-radius: 7px !important;
    background-color: rgba(255, 0, 84, 1) !important;
    font-size: 25px;
}

.reg_button:hover {
    background-color: rgba(255, 0, 84, 0.7) !important;
}

#sales_pitch {
    width: 450px;
    font-size: 24px;
}

 #sales_pitch h1 {
    font-size: 42px;
 }

#sales_pitch ul {
    padding-left: 50px;
}

#note_avatar {
    width: 50px;
}

#note_body {
    height: 100%;
}

#notes {
    position: relative;
    height: 100%;
}

#left_side {
    background-color: rgba(239,118,116,1);
    width: 35%;
    height: 100%;
    float: left;
    text-align: center;
    position: fixed;
    bottom: 0px;
    z-index: -3;
}
#note_input {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 200px;
}

#note_list {
    width: 65%;
    float: right;
    word-wrap: break-word;
    padding: 5px;
    padding-left: 20px;
}

#note_body {
    border-bottom: solid grey 1px;
    background-color: white;
}

#note_submit{
    background-color: rgba(255, 0, 84, 1) !important;
}

#note_submit:hover{
    background-color: rgba(255, 0, 84, 0.4) !important;
} 