<!DOCTYPE html>
<html>

<head>
    <title>My Notes - Jam Transcriptions</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
    <link rel="icon" sizes="120x120" href="images/JamNotJelly_icon.png">

    <!--This imports the font, we can change this later-->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--This is the bar at the top of the site-->
        <!--any main links should be placed within the nav-->
        <a href="homepage"><img src="static/JamNotJelly_Logo_text.png" alt="Jam Not Jelly's Jelly Lists" id="nav_logo"></a>

        <ul class="nav_links">
            <!--Use this list for the main links in the nav bar-->
            <!--These links are only visible if the user is authenticated-->
            {% if current_user.is_authenticated %}
            <li><a class="nav_content" href="mynotes">My Notes</a></li>
            <li><a class="nav_content" href="account">Account</a></li>
            <li><a class="nav_content" href="delete-notes">Delete Notes</a></li>
            {% endif %}
        </ul>

        <ul class="nav_links" id="right_links">
            <!--This list is for the login/register pages or anything that we want to align to the right-->
            <!--If user is not authenticated, they see login link which redirects to login page-->
            <!--If user is authenticated, they see logout link which redirects to homepage-->
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li> |
            <li><a class="nav_content" href="register">Sign Up</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </header>

    <div id="main_body">
        <form action="" method="post">
            <!--generates a hidden field containing a token used to protect against CSRF attacks-->
            {{ form.hidden_tag(form.csrf_token) }}
            <br>{{ form.submit() }}<br><br>

            <!-- displays notes in a list default sorted by createdatetime desc -->
            <ul>
                {% for note in notes %}
                    <li>
						{% if note.priority == 0 %} <span class="dot0"><span class="tooltiptext">No Priority</span></span>   
						{% elif note.priority == 1 %}  <span class="dot1"><span class="tooltiptext">Low Priority</span></span>   
						{% elif note.priority == 2 %} <span class="dot2"><span class="tooltiptext">Medium Priority</span></span>   
						{% elif note.priority == 3 %} <span class="dot3"><span class="tooltiptext">High Priority</span></span>   
						{% endif %}
                        <i>Added: </i>{{ note.timestamp.strftime('%m/%d/%Y - %I:%M %p') }}
                            <!--only display due date if one exists-->
                            {% if note.due_date %}
                                | <b>Due: </b>{{ note.due_date.strftime('%m/%d/%Y') }}
                            {% endif %}
                        <br>{{ note.body }}
                    </li>
					{{ form.submitSingle(value=note.id) }}
					{{ form.hiddenID(value = note.id) }}
					<br>
                {% endfor %}
            </ul>
        </form>
    </div>

</body>
</html>