<!DOCTYPE html>
<html>

<head>
    <title>Jelly Lists, Digital List App</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>

    <!--This imports the font, we can change this later-->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--This is the bar at the top of the site-->
        <!--any main links should be placed within the nav-->
        <h2 id="title"><a href="homepage">Jam Not Jelly's Jelly Lists</a></h2>

         <ul class="nav_links">
            <!--Use this list for the main links in the nav bar-->
            {% if current_user.is_authenticated %}
            <li><a class="nav_content" href="mynotes">My Notes</a></li>
            <li><a class="nav_content" href="account">Account</a></li>
            {% endif %}
        </ul>

        <ul class="nav_links" id="right_links">
            <!--This list is for the login/register pages or anything that we want to align to the right-->
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li> |
            {% else %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li> |
            {% endif %}
            <li><a class="nav_content" href="register">Sign Up</a></li>
        </ul>
    </header>

    <div id="main_body">
        <h1>Fill with info about this product</h1>
    </div>

</body>
</html>
