<!DOCTYPE html>
<html>

<head>
    <title>Jelly Lists, Digital List App</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
    <link rel="icon" sizes="120x120" href="images/JamNotJelly_icon.png">

    <!--This imports the font, we can change this later-->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body class="home_body">
    <header>
        <!--This is the bar at the top of the site-->
        <!--any main links should be placed within the nav-->
        <a href="homepage"><img src="static/JamNotJelly_Logo_text.png" alt="Jam Not Jelly's Jelly Lists" id="nav_logo"></a>

         <ul class="nav_links">
            <!--Use this list for the main links in the nav bar-->
            <!--These links are only visible if the user is authenticated-->
            {% if current_user.is_authenticated %}
                <li><a class="nav_content" href="mynotes">My Notes</a></li>
                <li><a class="nav_content" href="account">Account</a></li>
                {% if current_user.get_note_count() > 0 %}
                    <li><a class="nav_content" href="delete-notes">Delete Notes</a></li>
                {% endif %}
            {% endif %}
        </ul>

        <ul class="nav_links" id="right_links">
            <!--This list is for the login/register pages or anything that we want to align to the right-->
            <!--If user is not authenticated, they see login link which redirects to login page-->
            <!--If user is authenticated, they see logout link which redirects to homepage-->
            {% if current_user.is_anonymous %}
            <li><a id=loginButton href="{{ url_for('login') }}">Login</a></li> |
            <li><a class="nav_content" id="signUpButton" href="register">Sign Up</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </header>

    <div id="main_body">

        <div id="sales_pitch">
            <h1>Stay on top of things with <b>Jelly Lists</b></h1>
            <br>
            <p>With Jelly Lists, you can:</p>
            <ul>
                <li><p>Create, edit, and delete tasks</p></li>
                <li><p>Set priority levels for each task</p></li>
                <li><p>Assign due dates for each task</p></li>
                <li><p>Track when tasks were added</p></li>
            </ul>
            <br>
            <p>Features coming soon:</p>
            <ul>
                <li><p>Integration with Google Calendar</p></li>
                <li><p>Email Reminders for tasks</p></li>
                <li><p>Rewards for getting your tasks done on time</p></li>
            </ul>
        </div>

        {% if current_user.is_anonymous %}
        <div id="home_reg">
            <h1 id="reg_header">Sign up for a free account</h1>
            <form action="" method="post">
                <!--generates a hidden field containing a token used to protect against CSRF attacks-->
                {{ form.hidden_tag() }}

                <p class="reg_p">Username</p>
                {{ form.username(class_="reg_text") }} 
                {% for error in form.username.errors %}
                    <span name="nameError"style="color: red;"><br>{{ error }}</span>
                {% endfor %}

                <p class="reg_p">Email</p>
                {{ form.email(class_="reg_text") }}
                {% for error in form.email.errors %}
                    <span name="emailError" style="color: red;"><br>{{ error }}</span>
                {% endfor %}

                <p class="reg_p">Password</p>
                {{ form.password(class_="reg_text") }}
                {% for error in form.password.errors %}
                    <span style="color: red;"><br>{{ error }}</span>
                {% endfor %}

                <p class="reg_p">Confirm Password</p>
                {{ form.password2(class_="reg_text") }}
                {% for error in form.password2.errors %}
                   <span name="confirmPass" style="color: red;"><br>{{ error }}</span>
                {% endfor %}

                {{ form.submit(class_="reg_button") }}
            </form>
        </div>

        {% else %}
        <div id="home_reg">
            <h1 id="reg_header">Upgrade your account to get:</h1>
            <p class="reg_p"> - Google Calendar integration</p>
            <p class="reg_p"> - Email reminders for tasks</p>
            <p class="reg_p"> - Rewards for tasks completed on time</p>
            <br>
            <p class="reg_p"><b>Visit the Account page to upgrade your account</b></p>
            <br>
        </div>
        {% endif %}
    </div>
</body>
</html>
