<!DOCTYPE html>
<html>

<head>
    <title>Jelly Lists, Digital List App</title>
    <link type="text/css" rel="stylesheet" href="design.css"/>
    <link rel="icon" sizes="120x120" href="images/JamNotJelly_icon.png">
    <!--This imports the font, we can change this later-->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--This is the bar at the top of the site-->
        <!--any main links should be placed within the nav-->
        <a href="homepage.html"><img src="images/JamNotJelly_Logo_text.png" alt="Jam Not Jelly's Jelly Lists" id="nav_logo"></a>
        <ul class="nav_links">
            <!--Use this list for the main links in the nav bar-->
            <li><a class="nav_content" href="mynotes.html">My Notes</a></li>
            <li><a class="nav_content" href="account.html">Account</a></li>
        </ul>

        <ul class="nav_links" id="right_links">
            <!--This list is for the login/register pages or anything that we want to align to the right-->
            <li><a class="nav_content" href="login.html">Login</a></li> |
            <li><a class="nav_content" href="register.html">Sign Up</a></li>
        </ul>
    </header>
    
    <div id="main_body">
        <h1>Fill with info about this product</h1>
    </div>
    
</body>
</html>
