<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Register - Jam Transcriptions</title>

    <link type="text/css" rel="stylesheet" href="/static/style.css"/>

    <!--This imports the font, we can change this later-->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!--This is the bar at the top of the site-->
        <!--any main links should be placed within the nav-->
        <h2 id="title"><a href="homepage">Jam Not Jelly's Jelly Lists</a></h2>

         <ul class="nav_links">
            <!--Use this list for the main links in the nav bar-->
            <li><a href="mynotes">My Notes</a></li>
            <li><a href="account">Account</a></li>
        </ul>

        <ul class="nav_links" id="right_links">
            <!--This list is for the login/register pages or anything that we want to align to the right-->
            <li><a href="login">Login</a></li> |
            <li><a href="register">Sign Up</a></li>
        </ul>
    </header>
    <div class="login_box">
        <h1>Login</h1>
        <h6 style="font-size:16px;">Enter username and password.</h6><br>
        <form action="" method="post" novalidate>
            <!--generates a hidden field containing a token used to protect against CSRF attacks-->
            {{ form.hidden_tag() }}
            Username:<br>
                {{ form.username() }}<br><br>
            <!--DELETE<input type="text" name="user" value="{{ form.username() }}"><br><br>-->
            Password:<br>
            {{ form.password() }}<br>
            <!--DELETE<input type="password" name="pass" value="{{ form.password() }}"><br><br>-->
            {{ form.remember_me() }} {{ form.remember_me.label }}<br><br>
            {{ form.submit() }}<br><br>
            <!--DELETE<input type="submit" value="{{ form.submit() }}"><br><br>-->
        </form>
    </div>

</body>
</html>